body{
    max-width: 1024px;
    margin:0 auto;
    background: #ebe9e9;
    padding: 3rem 0;
    
 }
 h1{
     font-size:2.5rem;

 }
 h2{
     font-size: 2.5;
 }
 input{
    width: 50%;
    text-transform:uppercase;
    border: 2px solid #e20c29;
    padding: 1rem;
    background: #575656;
    color: #fc0022;
    font-size: 1.5rem;
    
 }
 input:hover{
    background: rgb(15, 13, 13);
}
input:focus{
    background: rgb(15, 13, 13);
    
}
form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
button{
    color: #fc0022;
    font-size: 1.5rem;
    width: 30%;
    border: 1px solid #fc0022;
    padding: 1rem;
    background: #575656;
}
button:hover{
    background: rgb(15, 13, 13);
}
button:active{
    position: relative;
    border: 3px solid #ebe9e9;
}
.stocksDisplay>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.label,.data{
    font-size: 1.5rem;;
}

 /*
h1{
    text-align: center;
    font-size:4rem;
    color: #26a893;
}
h2{
    text-align: center;
    font-size:3rem;
    color: #26a893;
}
form{
    display: flex;
    justify-content: space-between;

}
input{
    width: 60%;
    border: 2px solid #32e0c4;
    border-radius: 10px;
    padding: 1rem 2rem;
    background: #232323;
    color: #32e0c4;
    font-size: 2rem;
    text-transform:uppercase;
}
input:hover{
    background: rgb(37, 37, 37);
}
input:focus{
    background: rgb(45, 45, 45);
    border-radius: 10px;
}
button{
    width: 30%;
    border: 2px solid #32e0c4;
    border-radius: 10px;
    padding: 1rem 2rem;
    background: #232323;
    color: #32e0c4;
    font-size: 2rem;
}
button:hover{
    background: rgb(40, 40, 40);
}
button:active{
    position: relative;
    top: 1px;
}
.HideStocks{
    display: none;
}
.DisplayStocks{
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    flex-wrap: wrap;
}
.DisplayStocks div{
    width: 30%;
    height: 10rem;
    padding: 2rem;
    margin: 1.5rem 2rem;
    background: #232323;
    border-radius: 10px;
    box-shadow: 10px 10px 17px #1c1c1c, 
             -10px -10px 17px #2a2a2a;
}
.label{
    color: rgb(149, 149, 149);
    font-size: 1.5rem;
}
.data{
    color: #26a893;
    font-size: 3.8rem;
} */
#error{
    color: rgb(250, 79, 108);
    font-size: 1.5rem;
}